/testResults
/TEST-org.eclipse.scout.autotest.client.test.product-org.eclipse.autotest.client.ClientSessionTest.xml
/TEST-org.eclipse.scout.autotest.client.test.product-org.eclipse.autotest.client.CompanyFormTest.xml
