<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="app" point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global" thread="main" visible="true">
         <run class="org.eclipse.autotest.client.test.AutotestClientTestApplication" />
      </application>
   </extension>

   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.eclipse.scout.autotest.client.test.app" name="Eclipse Scout Client Test App">
         <property name="appName" value="Eclipse Scout Client Test App" />
      </product>
   </extension>

   <extension name="" point="org.eclipse.scout.service.services">
   </extension>
</plugin>
